{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Hello ! ✅</h1>
 <nav class="">
    <ul class="">
        <li class="">
            {% for category in categories %}
                <a class="" 
                href="{{ path('show_product',{'productId': category.id, 'slug': category.slug}) }}">
                {{category.title}}
                </a>
            {% endfor %}
        </li>
    </ul>
  </nav> 
{# url random image product #}
<div class="row-align-items-stretch" style="display: inline-flex; flex-wrap: wrap; justify-content: space-between;">
{% for product in products %}
<div class="col-12 col-sm-5 col-lg-5 col-xl-5 product">
  
      <a href="{{path('detail_product', {'product': product.id, 'slug': product.slug})}}">
       <img src="{{ asset('uploads/pictures/products/' ~ product.pictures[0].name)}}" alt="{{product.title }}" height="400" width="300">

  {# utilisateur connecter utilisateur = ROLE_USER #}
    {% if is_granted("ROLE_USER") %} 
    {% set isFavorite = false %}
      {% for favorite in product.favorites %}
      {# verification si l'id des favoris et le même id  de l'utilisateur #}
        {% if favorite.id == app.user.id %}
      {% set isFavorite = true %}
        {% endif %}
        {% endfor %}
    {% if isFavorite %}  
        {# coeur plein = fas fa-hear #}
          <a href="{{path('remove_favorite', {'productId': product.id, 'slug': product.slug})}}"><i class="fas fa-heart" style="    color: #F92A2A;
    position: absolute;
    left: 17rem;
    top: 1rem;
    font-size: x-large;"></i></a>
        {% else %}
        {# coeur vide = far fa-hear #}
          <a href="{{ path('add_favorite', {'productId': product.id, 'slug': product.slug}) }}"><i class="far fa-heart" style="    color: #F92A2A;
    position: absolute;
    left: 17rem;
    top: 1rem;
    font-size: x-large;"></i></a>
        {% endif %}
      {# si l'utilisateur n'a pas aimer #}
      {% else %}
        <i class="far fa-heart" style="color: #F92A2A;position: absolute;left: 17rem;top: 1rem; font-size: x-large;"></i>
      {% endif %}
  
  <div class="card-body flex-grow-1">
  <div class="card-title">{{product.title}}</div>
  
  
  <div class="text-muted">
    {{product.description}}
  </div>
  
  <div class=" " style="margin-left: 0px; margin-right: 8rem;
  margin-top: 1rem;color: white;text-align: center;padding: 10px;
  background-color: #E13C3C;">{{product.prise}} €</div>
  </a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
